body{
   position: relative;
}
.all{
    animation-name: load;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-left: 48%;
    width: 100px;
    height: 578px;
}
.box{
    border: solid black;
    background-color: black;
    width: 100px;
    height: 20px;
    transform: rotate(90deg);
    margin-bottom: 100px;
}
.box1{
    border: solid black;
    background-color: black;
    width: 100px;
    height: 20px;
    transform: rotate(90deg);
    margin-bottom: 100px;
}
.box2{
    border: solid black;
    background-color: black;
    width: 100px;
    height: 20px;
    transform: rotate(90deg);
    margin-bottom: 100px;
}
.box3{
    border: solid black;
    background-color: black;
    width: 100px;
    height: 20px;
    transform: rotate(90deg);
    margin-bottom: 100px;
}
.box4{
    border: solid black;
    background-color: black;
    width: 100px;
    height: 20px;
    transform: rotate(90deg);
    margin-bottom: 100px;
}


.img{
    width: 100px;
    transform: rotate(-90deg);
    position: absolute;
    left: 48%;
    top: 30%;
    



}
@keyframes load{
    from{
        transform: translate(0px, 0px );
        
    }
    to{
        transform: translate(0px, 30px ); 
    }
}
